/*style yang di edit sendiri*/

/*sidebar*/
#user_nav{
	width: auto;
}
.user_info{
	width: auto;
	margin-right: 20px;
}
a:hover .icon-data-master1,
a:hover .active .icon-data-master1{
	background-position: -100px 0px !important;
}
a:hover .icon-data-master8,
a:hover .active .icon-data-master8,
a:hover .icon-data-master7,
a:hover .active .icon-data-master7,
a:hover .icon-data-master6,
a:hover .active .icon-data-master6,
a:hover .icon-data-master5,
a:hover .active .icon-data-master5,
a:hover .icon-data-master4,
a:hover .active .icon-data-master4,
a:hover .icon-data-master3,
a:hover .active .icon-data-master3,
a:hover .icon-data-master2,
a:hover .active .icon-data-master2{
	background-position: -100px -50px !important;
}
a.active .icon-data-master1{
	top: 1%;
	/*transition: .5s;*/
	background-position: -100px 0px !important;
}
a.active .icon-data-master8,
a.active .icon-data-master7,
a.active .icon-data-master6,
a.active .icon-data-master5,
a.active .icon-data-master4,
a.active .icon-data-master3,
a.active .icon-data-master2{
	top: 1%;
	background-position: -100px -50px !important;
}
.icon-data-master1{
	background-position: -50px 0px !important;
}
.icon-data-master8,
.icon-data-master7,
.icon-data-master6,
.icon-data-master5,
.icon-data-master4,
.icon-data-master3,
.icon-data-master2{
	background-position: -50px -50px !important;
}

.icon-data-master1,
.icon-data-master2,
.icon-data-master3,
.icon-data-master4,
.icon-data-master5,
.icon-data-master6,
.icon-data-master7,
.icon-data-master8{
	background: url(../images/sprite-icons/layout-icons.png) no-repeat;
	height: 50px;
	width: 50px;
	top: 2.5%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	position: absolute;
}
.icon-data-master img{
	width: 30px;
	height: auto;
	object-fit: cover;
	background-size: cover;
}
.text-navbar{
	text-align: center;
	line-height: 10px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 14%;
	/*text-align: center;
	line-height: 10px;*/
}
.height-navbar{
	height: 70px;
	padding:0 !important;
}
.secondary-foot{
	position: fixed;
	bottom: 0;
	background: -webkit-linear-gradient(top, #2ab2ff 0%, #0068a7 100%);
	/*height: 40px;*/
	width: 251px;
	z-index: 1;
	text-align: center;
	margin: auto;
	padding:16px 0;
	font-weight: bold;
	font-size: 12px;
	color: #fff;

}
#sidebar{
	width: 100%;
	margin-left: 0;
}
#secondary_nav{
	margin: 0;
	position: fixed;
	/*background: #fff;*/
	height: auto;
	overflow: auto;
	border-right: #aeaeaf 1px solid;
	width: 250px;
}
#theme-default #secondary_nav ul li a{
	width: auto;
	color: #fff;
	background: #fff url(../images/layout-sprite.png) repeat-x;
	background-position: 0 -109px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:none;
}
#theme-default #secondary_nav ul li a:hover{
	border:none;
}
#theme-default #secondary_nav ul li a.active{
	background-position: 0 -179px !important;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #1079b8;
}
#theme-default #secondary_nav ul.acitem li a{
	margin-left: 15px;
	margin-bottom: -1px;
	background: #fff url(../images/layout-sprite.png) repeat-x;
	background-position: 0 -109px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:none;
}

#theme-default #secondary_nav ul li a:hover,
#theme-default #secondary_nav ul.acitem li a:hover{
	background-position: 0 -179px !important;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #1079b8;
}
#theme-default .nav_icon{
	background: url(../images/sprite-icons/icon-white.png) no-repeat;
}
#secondary_nav ul li {
	margin-bottom: 0px;
	position: relative;
	background: #fff url(../images/layout-sprite.png) repeat-x;
	background-position: 0 -109px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.acitem li a .list-icon{
	left: 30px;
}

/*scrollbar*/
#secondary_nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*border-radius: 10px;*/
	background: transparent;
}

#secondary_nav::-webkit-scrollbar
{
	width: 12px;
	background: transparent;
}

#secondary_nav::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: -webkit-linear-gradient(top, #0068a7 0%,#2ab2ff 100%);
}

/*body content*/
#content{
	min-height: 530px;
}
.widget_wrap{
	margin-bottom: 5rem;
}
.body-search-data{
	background-image: linear-gradient(#fefefe, #cccccc) !important;
	/*height: 39px;*/
	border-bottom: #d4d4d4 1px solid !important;
}
/*form*/
.radio-padding-form{
	padding-top: .35rem;
	padding-bottom: .35rem;
}
.chzn-container-single .chzn-default{
	background: #fff;
}
.list_refresh{
	height: 26px;
	top: 7px;
	/*left: none;*/
	/*position: relative;*/
	right: 0 !important;
}
input[type="date"]{
	cursor: text;
}
.input-not-focus input[type="text"]:focus,
.input-not-focus input[type="text"],
.input-not-focus input[type="date"]:focus,
.input-not-focus input[type="date"]{
	border: #d8d8d8 1px solid !important;
	box-shadow: none !important;
	cursor: no-drop !important;
	background: #f4f4f4;
}
.input-disabled select:disabled{
	cursor: no-drop;
}
input[type="date"]:disabled,
input[type="text"]:disabled{
	cursor: no-drop;
}
.chzn-container{
	width: 101.5% !important;
}
.chzn-container .chzn-drop{
	width: 99.5% !important
}
.total-accumulation{
	padding-left: 25% !important;
	padding-right: 25% !important;
}
.input-date-padding{
	padding: 4px 2px !important;
}
.input-date-padding-3-2{
	padding: 3px 2px !important
}
.price-date{
	margin-left: 32.5px; 
	width: 96.35% !important;
}

.input-group-addon{
	position: absolute;
	padding:7px;
	background: #fff url(../images/layout-sprite.png) repeat-x;
	background-position: 0 -111px;
	color: #fff;
	font-weight: bold;
}
/*button*/
.c-Detail{
	background: #fff url(../images/list-icons/detail.png) no-repeat;
}
button.btn_24_blue{
	width: auto;
	height: 31px !important;
}
.btn_24_blue input{
	width: 100%;
}
.btn_30_blue input {
	height: 31px;
	border-radius: 4px;
	line-height: 29px !important;
	text-transform: capitalize;
	font-size: 100%;
	border: #05447F 1px solid;
	display: inline-block;
	box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8), inset 0 1px 1px -1px #fff;
	-moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8), inset 0 1px 1px -1px #fff;
	-webkit-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.8), inset 0 1px 1px -1px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, .5), 0px 1px 0px rgba(255, 255, 255, 0.2);
	line-height: 29px;
	text-align: center;
	color: #fff;
	padding: 0 5px;
	background: #19a6d3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19a6d3), color-stop(50%, #0853a1), color-stop(51%, #064492), color-stop(100%, #02286e));
	background: -webkit-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -o-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -ms-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a6d3', endColorstr='#02286e', GradientType=0 );
}

.btn_30_blue input:hover, .btn_24_blue input:hover {
	background: #3cb7dd;
	cursor: pointer;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #3cb7dd 0%, #1876ba 50%, #084690 51%, #0f5aa8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3cb7dd), color-stop(50%, #1876ba), color-stop(51%, #084690), color-stop(100%, #0f5aa8));
	background: -webkit-linear-gradient(top, #3cb7dd 0%, #1876ba 50%, #084690 51%, #0f5aa8 100%);
	background: -o-linear-gradient(top, #3cb7dd 0%, #1876ba 50%, #084690 51%, #0f5aa8 100%);
	background: -ms-linear-gradient(top, #3cb7dd 0%, #1876ba 50%, #084690 51%, #0f5aa8 100%);
	background: linear-gradient(top, #3cb7dd 0%, #1876ba 50%, #084690 51%, #0f5aa8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb7dd', endColorstr='#0f5aa8', GradientType=0 );
}
button.btn_24_blue,.btn_24_blue input {
	line-height: 0 !important;
	height: 24px;
	border: #05447f 1px solid;
	display: inline-block;
	box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.5), inset 0 1px 1px -1px #fff, inset 0 -1px 1px -1px #00395d;
	-moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.5), inset 0 1px 1px -1px #fff, inset 0 -1px 1px -1px #00395d;
	-webkit-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.5), inset 0 1px 1px -1px #fff, inset 0 -1px 1px -1px #00395d;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(000, 000, 000, .8), 0px 1px 0px rgba(255, 255, 255, 0.2);
	line-height: 23px;
	text-align: center;
	background: #19a6d3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19a6d3), color-stop(50%, #0853a1), color-stop(51%, #064492), color-stop(100%, #02286e));
	background: -webkit-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -o-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: -ms-linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	background: linear-gradient(top, #19a6d3 0%, #0853a1 50%, #064492 51%, #02286e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a6d3', endColorstr='#02286e', GradientType=0 );
	color: #fff !important;
	padding: 0 10px;
	cursor: pointer;
	
}
/*modal*/
.modal-close {
	color: #fff !important;
	line-height: 13px !important; 
	font-size: 16px !important;
	font-weight: bold;
	position: absolute;
	right: 0;
	background: #fff url(../images/layout-sprite.png) repeat-x;
	text-align: center;
	border-radius: 50%;
	top: -16px !important;
	/* width: 50px; */
	padding: 10px !important;
	right: -16px !important;
	top: -16px !important;
	width: auto !important;
	text-decoration: none;
	border:1px solid #fff;
}
a:hover .modal-close{
	color: #fff !important;
}
.modal-window>div{
	padding:0 !important;
}
.modal-window h1{
	background: #fff url(../images/layout-sprite.png) repeat-x;
	background-position: 0 -109px;
	padding: 15px;
	color: #fff !important;
}
.modal-body{
	padding: 15px;
	font-weight: 600;
}
.modal-foot{
	padding: 15px;
	text-align: center;
}
/*position*/
.flot-right{
	float: right;
}
.flot-left{
	float: left;
}
.flot-none{
	float: none;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

/*table*/
.table_content{
	position: relative;
	overflow: hidden;
	overflow-x: scroll;
}
table.display thead th, table.display td {
	padding: 8px 10px;
	vertical-align: middle;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.dataTables_filter{
	display: none;
}

/*notifikasi*/
.pesan{

	font-weight: bold;
	position: absolute;
	
	top: 4px;
	color: #fff;
	padding: 15px;
	width: 30%;
	height: auto;
	right: 20px;
	border-radius: 5px;
	z-index: 1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sukses{
	background: rgba(69, 173, 86, .6) !important;
}

.gagal{

}

/*width*/
.w-100{
	width: 100% !important;
}

/*jarak*/
/*margin*/
.my{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mx{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.ma{
	margin:0 !important;
}
.mt{
	margin-top: 0 !important;
}
.mt-dot2{
	margin-top: .2rem !important;
}
.mt-dot3{
	margin-top: .3rem !important;
}
.mt-1{
	margin-top: .5rem !important;
}
.mt-2{
	margin-top: 1rem !important;
}
.mt-3{
	margin-top: 1.5rem !important;
}
.mt-4{
	margin-top: 2rem !important;
}

.mb{
	margin-bottom: 0 !important;
}
.mb-1{
	margin-bottom: 0.5rem !important;
}
.mb-2{
	margin-bottom: 1rem !important;
}
.mb-3{
	margin-bottom: 1.5rem !important;
}
.mb-4{
	margin-bottom: 2rem !important;
}

.ml{
	margin-left: 0 !important;
}
.ml-1{
	margin-left: 0.5rem !important;
}
.ml-2{
	margin-left: 1rem !important;
}
.ml-3{
	margin-left: 1.5rem !important;
}
.ml-4{
	margin-left: 2rem !important;
}

.mr{
	margin-right: 0 !important;
}
.mr-1{
	margin-right: .5rem !important;
}
.mr-2{
	margin-right: 1rem !important;
}
.mr-3{
	margin-right: 1.5rem !important;
}
.mr-4{
	margin-right: 2rem !important;
}

/*padding*/
.pa{
	padding: 0 !important;
}
.pa-1{
	padding: 0.5rem !important;
}
.pa-2{
	padding: 1rem !important;
}
.pa-3{
	padding: 1.5rem !important;
}
.pa-4{
	padding: 2rem !important;
}

.px{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.px-1{
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}
.px-2{
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}
.px-3{
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}
.px-4{
	padding-right: 2rem !important;
	padding-left: 2rem !important;
}


.py{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-1{
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
.py-2{
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.py-3{
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.py-4{
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.pt{
	padding-top: 0 !important;
}
.pt-1{
	padding-top: 0.5rem !important;
}
.pt-2{
	padding-top: 1rem !important;
}
.pt-3{
	padding-top: 1.5rem !important;
}
.pt-4{
	padding-top: 2rem !important;
}

.pb{
	padding-bottom: 0 !important;
}
.pb-1{
	padding-bottom: 0.5rem !important;
}
.pb-2{
	padding-bottom: 1rem !important;
}
.pb-3{
	padding-bottom: 1.5rem !important;
}
.pb-4{
	padding-bottom: 2rem !important;
}

.pl{
	padding-left: 0 !important;
}
.pl-1{
	padding-left: 0.5rem !important;
}
.pl-2{
	padding-left: 1rem !important;
}
.pl-3{
	padding-left: 1.5rem !important;
}
.pl-4{
	padding-left: 2rem !important;
}

.pr{
	padding-right: 0 !important;
}
.pr-1{
	padding-right: 0.5rem !important;
}
.p-2{
	padding-right: 1rem !important;
}
.p-3{
	padding-right: 1.5rem !important;
}
.pr-4{
	padding-right: 2rem !important;
}